# Adicione estas linhas ao seu .gitignore existente:

# Variáveis de ambiente
.env

# Resultados de testes
test-results/

# Compilação TypeScript
dist/

# Dependências
node_modules/

#arquivos do vistual studio
.vs/


@backups feitos durante teste de deploy
tests/backup_data/
