# Adicione estas linhas ao seu .gitignore existente:

# Variáveis de ambiente
.env
.env.local

# Resultados de testes
test-results/

# Compilação TypeScript
dist/

# Dependências
node_modules/

#arquivos do vistual studio
.vs/

#arquivos do vs code
.vscode/

#backups feitos durante teste de deploy
tests/backup_data/

#reports dos testes automatizados
FrontEnd/e2e/fixtures/auth.json
FrontEnd/e2e/report/
FrontEnd/e2e/test-results/